/*  \/ DEBUT \/  */
html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}
body {
  font-family: "Raleway", sans-serif;
}

/*   container pour limiter les dimentions de la page   */
.container {
  min-width: 320px;
  max-width: 992px;
  margin: 0px auto;
}

.container__footer {
  min-width: 320px;
  max-width: 1050px;
  margin: 20px auto;
  background-color: #f2f2f2;
  height: fit-content;
}
/*  /\ DEBUT /\  */
/*-----------------------------------------------------------/*
/*  \/ HEADER \/  */

/*   nav   */
header {
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

nav li {
  padding: 40px 20px 20px 20px;
  font-size: 14px;
  margin-right: 10px;
  text-align: center;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  color: black;
}

nav a {
  text-decoration: none;
  color: inherit;
}

/*   nav au survol   */
nav li:hover {
  border-top: 3px solid #0065fc;
  color: #0065fc;
}
/*   logo   */
.logo {
  height: fit-content;
  margin-left: 40px;
  height: 40px;
}

.logo img {
  height: 100%;
}
/*-----------------------------------------------------------/*
/*   Recherche position (partie de recherche)   */
.search {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  margin: 10px 20px;
  max-width: 100%;
  height: fit-content;
}

h1 {
  font-size: 18px;
  margin: 5px 0px;
  padding: 0px 10px;
}

p {
  font-size: 13px;
}

.search p {
  margin: 5px 0px;
  padding: 0px 10px;
}
/*-----------------------------------------------------------/*
/*   FORM (champ de recherche)   */
form {
  display: flex;
  margin: 20px 8px 5px 8px;
  height: 45px;
  position: relative;
  border: 1px solid #f2f2f2;
  border-radius: 20px;
}

/*   icone position   */
#ico {
  height: 100%;
  width: 45px;
  border: 1px solid #f2f2f2;
  border-radius: 20px 0 0 20px;
  position: absolute;
  left: 0px;
  z-index: 2;
  background-color: #f2f2f2;
}

#ico i {
  position: absolute;
  z-index: 3;
  text-decoration: none;
  color: black;
  font-size: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*   champ de recherche   */
.position__city {
  height: 100%;
  border: 1px solid #f2f2f2;
  border-radius: 20px;
  width: 100%;
  max-width: 355px;
  min-width: 250px;
  padding: 0px 10px;
  font-size: 15px;
  position: relative;
  z-index: 1;
}

.position__city input {
  width: 100%;
  height: 100%;
  font-weight: 700;
  padding: 0px 120px 0px 45px;
  border: 0px;
  border-radius: 20px;
}

.position__city input:focus {
  outline: 0;
  outline-offset: 0;
}

/*   bouton 'recherche'   */
#recherche {
  position: absolute;
  z-index: 2;
  right: 0px;
  height: 100%;
  width: 120px;
  text-align: center;
  font-weight: 800;
  color: white;
  background-color: #0065fc;
  border: 1px solid #f2f2f2;
  border-radius: 0 20px 20px 0;
}

#recherche i {
  display: none;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

#recherche p {
  font-size: 16px;
}

/*   button recherche au survol   */
#recherche:hover {
  box-shadow: 1px 1px 5px black;
  transition: 0.3s;
}

#recherche:hover p {
  font-size: 17px;
  text-shadow: 1px 1px 2px black;
  transition: 0.3s;
}

#recherche:hover i {
  font-size: 21px;
  text-shadow: 1px 1px 2px black;
  transition: 0.3s;
}

/*-----------------------------------------------------------/*
/* SEARCH_FILTERS (les filtres) */
.search__filters {
  display: flex;
  align-items: center;
  margin: 0 20px 10px 30px;
  max-width: fit-content;
}

h3 {
  font-size: 14px;
  padding: 8px;
}

.filters {
  display: flex;
  flex-wrap: wrap;
}

.filter {
  display: flex;
  height: 40px;
  align-items: center;
  margin: 7px;
  border: 2px solid #f2f2f2;
  border-radius: 50px;
  overflow: visible;
}

.filter button {
  width: 40px;
  height: 40px;
  margin-left: -2px;
  border: 1px solid #deebff;
  border-radius: 50px;
  background-color: #deebff;
  position: relative;
}

.filter i {
  text-decoration: none;
  font-size: 16px;
  color: #0065fc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text__filter {
  padding: 0 15px;
  font-weight: 600;
}

/*   filters au survol   */
.filter:hover {
  box-shadow: 1px 1px 5px black;
  transition: 0.5s;
}

.filter:hover i {
  color: white;
  transition: 0.5s;
}

.filter:hover button {
  background-color: #0065fc;
  transition: 0.5s;
}

.filter:hover .text__filter {
  text-shadow: 1px 1px 3px gray;
}

/* icone 'info' */
.info {
  display: flex;
  align-items: center;
  max-width: fit-content;
  margin: 0px 30px;
}

.info button {
  width: 25px;
  height: 25px;
  border: 1px solid #deebff;
  border-radius: 50px;
  background-color: white;
}

.info i {
  text-decoration: none;
  color: #0065fc;
}

.info p {
  padding: 0 10px;
}

/*   info au survol   */
.info button:hover {
  box-shadow: 1px 1px 5px black;
  transition: 0.5s;
}
/*  /\ HEADER /\  */
/*-----------------------------------------------------------/*
/*  \/ MAIN \/  */

/*  \/ HEBERGEMENTS \/  */
#hebergement {
  margin: 10px;
  display: flex;
  height: fit-content;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap-reverse;
}

.title__hebergement {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  padding-right: 15px;
}

/* Hébergements à Marseille */
section {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-right: 1.5%;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 13px;
  flex: 2;
}

.section__menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h2 {
  font-size: 16px;
  margin-left: 15px;
}

/*   CARDS HEBERGEMENTS (les vignettes)   */
.section__menu a {
  text-decoration: none;
  color: black;
  margin: 11px;
}

.card__hebergement {
  align-self: center;
  width: 175px;
  height: 150px;
  background-color: white;
  border-radius: 20px;
  text-align: left;
  padding: 3px;
  box-shadow: 0px 5px 10px #999;
  position: relative;
  overflow: hidden;
}

/*   Cadre d'image de la vignette   */
.hebergement__image {
  height: 65%;
  position: relative;
  overflow: hidden;
  border-radius: 20px 20px 0 0;
}

/*   Image de la vignette   */
.hebergement__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

/*   Partie text de la vignette   */
.hebergement__body {
  margin: 3px;
  width: 100%;
  height: 35%;
}

.hebergement__body p,
.aside__body p,
h5,
.notation {
  margin: 2px 6px;
  padding: 0px;
}

/*   titre de la vignette   */
h5 {
  font-size: 13.5px;
}

/*   Les étoiles   */
.notation {
  display: flex;
  font-size: 12px;
  color: #c7c7c7;
}

span {
  color: #0065fc;
}

/*   Cards au survol   */
.card__hebergement:hover {
  box-shadow: 0px 5px 10px black;
  transition: 0.5s;
}

.card__hebergement:hover h5 {
  text-decoration: underline;
  transition: 0.5s;
}

.card__hebergement:hover .hebergement__image img {
  transform: scale(1.2);
  transform-origin: 50%;
  transition-duration: 0.5s;
}

/*   'Afficher plus'   */
#afficher {
  text-decoration: none;
  color: black;
  margin: 18px;
  font-size: 14px;
  font-weight: 900;
}

#afficher:hover {
  text-decoration: underline;
}

/*   CARDS ASIDE   */
aside {
  display: flex;
  flex-direction: column;
  margin-left: 1.5%;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 13px;
  flex: 1;
}

.aside__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aside__menu a {
  text-decoration: none;
  color: black;
  margin: 11px 0;
}

.card__aside {
  width: 275px;
  height: 110px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  text-align: left;
  padding: 3px;
  box-shadow: 0px 5px 10px #999;
  position: relative;
}

/*   Cadre d'image de la vignette   */
.aside__image {
  width: 35%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 20px 0 0 20px;
}

.aside__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 1;
}

/*   Partie text de la vignette   */
.aside__body {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 65%;
}

/*   Cards au survol   */
.card__aside:hover {
  box-shadow: 0px 5px 10px black;
  transition: 0.5s;
}

.card__aside:hover h5 {
  text-decoration: underline;
  transition: 0.5s;
}

.card__aside:hover .aside__image img {
  transform: scale(1.2);
  transform-origin: 50%;
  transition-duration: 0.5s;
}

/*  /\ HEBERGEMENTS /\  */
/*-----------------------------------------------------------*/
/*--\/-ACTIVITES-\/--*/

#activites {
  margin: 30px 10px;
  display: flex;
  flex-direction: column;
}

.activites__menu {
  width: 100%;
  height: 400px;
  background-color: white;
  padding: 0px;
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
}

.activites__menu a {
  text-decoration: none;
  color: black;
  margin: 0px;
  padding: 15px;
  width: 25%;
  height: 100%;
}

.activites__menu .h60 {
  height: 60%;
}

.activites__menu .h50 {
  height: 50%;
}

.activites__menu .h40 {
  height: 40%;
}

.card__activite {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 0px 5px 10px #999;
  background-color: white;
  overflow: hidden;
  position: relative;
}

.activite__image {
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0 0;
  position: relative;
  overflow: hidden;
}

.activite__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 1;
}

.activite__body {
  width: 100%;
  height: 40px;
  position: absolute;
  z-index: 2;
  bottom: 0px;
  padding: 10px;
  background-color: white;
}

/*   Au survol   */
.activites__menu a:hover .card__activite {
  box-shadow: 0px 5px 10px black;
  transition-duration: 0.5s;
}

.activites__menu a:hover h5 {
  text-decoration: underline;
  transition-duration: 0.5s;
}

.activites__menu a:hover .activite__image img {
  transform: scale(1.2);
  transform-origin: 50%;
  transition-duration: 0.5s;
}

/*-----------------------------------------------------------*/
/*  \/ SOLUTION D'ECRTAN ENTRE 768 ET 992 \/  */
@media all and (min-width: 768px) and (max-width: 992px) {
  nav li {
    font-size: 15.5px;
  }

  h1 {
    font-size: 19.5px;
  }

  h2 {
    font-size: 17.5px;
    text-align: center;
  }

  h3 {
    font-size: 15.5px;
  }

  h5 {
    font-size: 15px;
  }

  p {
    font-size: 14.5px;
  }

  form {
    height: 50px;
  }

  #ico {
    width: 50px;
  }

  #ico i {
    font-size: 17.5px;
  }

  .position__city {
    height: 50px;
  }

  .position__city input {
    padding: 0px 120px 0px 50px;
  }

  .filter {
    height: 45px;
  }

  .filter button {
    height: 45px;
    width: 45px;
  }

  .hebergement {
    position: relative;
  }

  .section__menu {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  section {
    margin: 0px;
    width: 100%;
    max-width: 500px;
    background-color: #f2f2f2;
    align-items: center;
    position: relative;
    padding: 0px;
  }

  aside {
    max-width: 350px;
    display: inline-block;
    position: sticky;
    top: 0px;
  }

  .card__hebergement {
    align-self: center;
    width: 390px;
    height: 330px;
  }

  .hebergement__image {
    height: 80%;
  }

  .hebergement__body {
    height: 20%;
  }

  .activites__menu {
    height: 800px;
  }

  .activites__menu a {
    width: 50%;
    height: 33.333%;
  }

  .activites__menu .h60 {
    height: 33.333%;
  }

  .activites__menu .h50 {
    height: 33.333%;
  }

  .activites__menu .h40 {
    height: 33.333%;
  }
}

/*  /\ SOLUTION D'ECRTAN ENTRE 768 ET 992 /\  */
/*-----------------------------------------------------------*/
/*  \/ PETITE SOLUTION D'ECRAN \/  */
@media screen and (max-width: 767px) {
  nav {
    flex-direction: column;
    align-items: center;
  }

  nav ul {
    width: 100%;
    margin: 20px 0;
  }

  nav li {
    margin: 0px;
    width: 50%;
    border-bottom: 3px solid #e3e5e5;
    padding: 10px;
    font-size: 16px;
  }

  nav li:hover {
    border-top: 3px solid white;
    border-bottom: 3px solid #0065fc;
    color: #0065fc;
  }

  .logo {
    margin: 0px;
    height: 60px;
  }

  h1 {
    font-size: 21px;
  }

  h2 {
    font-size: 19px;
    margin: 25px;
  }

  h3 {
    font-size: 17px;
    margin: 17px 0px 0px 0px;
  }

  p {
    font-size: 14.5px;
  }

  main {
    align-items: center;
  }

  .form {
    height: 55px;
  }

  .position__city {
    height: 55px;
    min-width: 240px;
    max-width: 355px;
  }

  .position__city input {
    padding: 0px 60px;
  }

  #ico {
    width: 55px;
    height: 55px;
  }

  #ico i {
    font-size: 19px;
  }

  #recherche {
    width: 55px;
    height: 55px;
    border-radius: 20px;
  }

  #recherche i {
    display: contents;
  }

  #recherche p {
    display: none;
  }

  .search__filters {
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 20px;
  }

  #hebergement {
    margin: 10px 20px;
  }

  section {
    margin: 20px 0px;
    padding: 0px;
    width: 100%;
    max-width: 500px;
    background-color: white;
  }

  .section__menu {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .card__hebergement {
    min-width: 300px;
    height: 200px;
    padding: 4px;
    margin: 0 0 30px 0;
  }

  .hebergement__image {
    height: 70%;
  }

  .hebergement__body {
    height: 30%;
  }

  #afficher {
    text-align: center;
  }

  aside {
    margin: 20px 0px;
    flex: none;
    margin: 0px;
    width: 100%;
    max-width: 500px;
  }

  .card__aside {
    min-width: 300px;
    height: 130px;
    padding: 4px;
  }

  .aside__image {
    width: 40%;
  }

  .aside__body {
    width: 60%;
  }

  .activites__menu {
    display: flex;
    flex-flow: nowrap;
    flex-direction: column;
    align-items: center;
    height: fit-content;
  }

  .activites__menu a {
    min-width: 300px;
    height: 200px;
    padding: 4px;
    margin-bottom: 30px;
  }

  .activites__menu .h60 {
    height: 200px;
    padding: 4px;
  }

  .activites__menu .h50 {
    height: 200px;
    padding: 4px;
  }

  .activites__menu .h40 {
    height: 200px;
    padding: 4px;
  }
}
