/*  \/ DEBUT \/  */
* {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

/*   container pour limiter les dimentions de la page   */
.container {
  min-width: 320px;
  max-width: 992px;
  margin: 0px auto;
}

.container__footer {
  min-width: 320px;
  max-width: 1050px;
  margin: 20px auto;
  background-color: #f2f2f2;
  height: fit-content;
}
/*  /\ DEBUT /\  */
/*-----------------------------------------------------------/*
/*  \/ HEADER \/  */

/*   nav   */
nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

nav li {
  padding: 40px 20px 20px 20px;
  font-size: 14px;
  margin-right: 10px;
  text-align: center;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  color: black;
}

nav a {
  text-decoration: none;
  color: inherit;
}

/*   nav au survol   */
nav li:hover {
  border-top: 3px solid #0065fc;
  color: #0065fc;
}
/*-----------------------------------------------------------/*
/*   logo   */
.logo {
  height: fit-content;
  margin-left: 40px;
}

.logo img {
  height: 40px;
}
